@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Noto+Sans+Mono&display=swap");


/* README README README README README README README README README README README README README

this place is really janky, i'm sorry, i just don't have the time to tidy the place up. oops.
yeah, there's a lot of cleaning up to do, but i... sorta improved the print layout
like it doesn't print nearly as much information, but it serves as a gallery of sorts, which i will dub Good Enough.
anyway. i'll go to sleep now.

*/



html {
    background-color: rgb(42, 85, 75);
}

* {
    font-family: "Courier New", Courier, monospace;
    font-variant: normal;
}

body {
    background: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fgetwallpapers.com%2Fwallpaper%2Ffull%2Fe%2F4%2Fa%2F433369.jpg&f=1&nofb=1&ipt=89467f3cf3f9524d0539f88736889506415443256fb415b60b7c772629e09e7e&ipo=images") fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
}

.skip-to-content-button {
    position: absolute;
    left: -50%;
    transform: translateY(-100%);
    overflow: hidden;
    background-color: white;
    color: black;
    padding: 1rem;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.skip-to-content-button :focus {
    transform: translateY(0%);
}

#canvas {
    width: 80%;
    color: whitesmoke;
    background: rgba(0, 0, 0, 0.6);
    margin: 0 auto;
}

main {
    padding-top: 10rem;
}

header {
    display: block;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 10%;
    right: 10%;
    width: 80%;
    z-index: 3;
    border-radius: 0 0 1rem 1rem;
}

nav {
    display: flex;
    width: 100%;
    margin-left: auto;
}



/* mobile nav isn't done yet. i'll do it next week, since i've been coding for like 30 straight hours*/

.mobile-nav {
    display: none;
}

.desktop-nav {
    display: block;
}   

.desktop-nav #logo {
    grid-area: logo;
    padding: 0;
    margin: 0;
    text-indent: 0;
    text-align: left;
    float: left;
}

#nav {
    display: grid;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    text-indent: 0;
    
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 1fr;
    transition: all ease-in-out 0.2s;
}

#nav > div {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: white;
    text-align: center;
    transition: all ease-in-out 0.2s;
}

#nav > div:hover {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    transition: all ease-in-out 0.2s;
}

#header-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    grid-template-areas: "logo menu-button";
    grid-gap: 1rem;
    align-items: center;
    padding: 1rem;
}

#nav a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    text-align: center;
    transition: all ease-in-out 0.2s;
}






.big-emphasis {
    font: bold 500% "Great Vibes", cursive;
    text-align: center;
    text-transform: capitalize;
    color: white;
    margin: 0 auto;
    
}

button {
    border: none;
    padding: 0;
    background: none;
    color: whitesmoke;
}

section {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1%;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    text-transform: lowercase;
    color: white;
    font-size: 200%;
    margin: 0;

}

h2 {
    font:bold;
    font-size: 150%;
    text-transform:lowercase;
    text-align: center;
    color: white;
}

p, ol {
    margin: 1vw 1vw;
    text-indent: 1rem;
}

ol{
    list-style: lower-alpha inside;
}





#gallery-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 0.5fr));
    grid-gap: 1rem;
    margin: 1rem;
}

.gallery-tile {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;
}

.gallery-tile button :hover {
    border:rgba(255, 255, 255, 0.6);
    transition: all 0.2s ease-in-out;
}

.gallery-tile button {
    transition: all 0.2s ease-in-out;
}

.gallery-tile :hover {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: brightness(+0.5);
    transition: all 0.2s ease-in-out;
}

.gallery-tile > * {
    background-color: transparent;
    background: none;
    transition: all 0.2s ease-in-out;
}

.gallery-tile > * :hover {
    background-color: transparent;
    background: none;
    transition: all 0.2s ease-in-out;
}

.gallery-tile-inner {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    margin: 0 auto;
}

.gallery-tile-inner :hover {
    background-color: none;
}

.gallery-tile button {
    width: 100%;
}

.gallery-tile img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.4);
    object-fit: cover;
    object-position: center;
    aspect-ratio: 3/4;
    height: 100%;
}

.gallery-tile-info {
    width: 100%;
    border-radius: 0.5rem;
    padding: 0.3rem;
}

.gallery-tile-info h3 {
    font-weight: bold;
    font-size: 1rem;
    text-transform: lowercase;
    text-decoration: underline;
    text-align: center;
    color: white;
    margin: 1rem;
}




.modal {
    background-color:rgba(0, 0, 0, 0.4) !important;
    backdrop-filter: blur(5px);
}

.modal-dialog {
    margin: 0 auto !important;
    width: 80% !important;
}

.modal-content {
    background-color: rgba(255, 255, 255, 0.4) !important;

    border: 1px solid rgba(255, 255, 255, 0.4) !important;
    border-radius: 5px;
    padding: 0;

    font-size: 100%;
    color: white;
    text-indent: 2rem;
    text-align: left;
    text-transform: lowercase;
}

.modal-content img {
    width: 1fr;
    border-radius: 5px;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.4);
    object-fit: cover;
    object-position: center;
    aspect-ratio: 3/4;
    float: left;
}

.modal-content h4 {
    font-size: 200%;
    margin: 1vw;
}

.modal-content h3 {
    font-size: 200%;
    margin: 1vw;
    text-indent: 0;
}

.modal-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4) !important;
}

.modal-body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

.tags {
    font-style: italic;
    color: rgba(255, 255, 255, 0.4);
}

.fields{
    border-radius: 5px;
    color: black;
    background-color: rgba(255, 255, 255, 0.6);
    border: 2px solid rgba(0, 0, 0, 0.4);
    margin: 0 auto;
    width: 100%;
    padding: 0.5rem 1rem;
    resize: none;
    transition: all 0.2s ease-in-out;
}


/* THIS IS FOR NEXT WEEK
.fields .invalid-feedback {
    background-color: rgba(255, 158, 158, 0.6);
    color:darkred;
    border-color:darkred;
    transition: all 0.2s ease-in-out;
}
*/


.modal-footer {
    border-top: 1px solid rgba(255, 255, 255, 0.4) !important;
}

.btn-close {
    color: rgba(255, 255, 255, 0.4) !important;

}

.edit-buttons {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
}

.selector-links {
    transition: all ease-in-out 0.1s;
    text-transform: lowercase;
    text-indent: 1rem;
}

.selector-links :hover {
    transition: all ease-in-out 0.1s;

}

.selector-links .selected {

    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: whitesmoke;
    text-decoration-thickness: 2px;
    font-size: 120%;
    transition: all ease-in-out 0.1s;
}

.selector-links :hover {
    text-indent: 2rem;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: whitesmoke;
    text-decoration-thickness: 2px;
    transition: all ease-in-out 0.1s;
}



a{
    color: white;
    text-decoration: none;
}

a:active{
    color: whitesmoke;
}

a:hover{
    color: whitesmoke;
    text-decoration: underline;
}

a:visited{
    color: white;
}

footer { 
    font: italic 10pt oblique;
    margin-top: 2%;
    margin-bottom: 5rem;
    padding-bottom: 1%;
    
}

.hidden {
    display: none !important;
}

@media screen and (max-width: 1110px) {
    
    section {
        margin-left: 0;
        margin-right: 0;
    }
    
    img {
        float: none;
        width: 100%;
    }
    
    table {
        width: 100%;
    }
    
    td, th {
        display: block;
    }
    
    h1, h2 {
        text-align: center;
    }
    
    #header-grid {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 0.2fr;
        grid-template-areas: "logo" "nav";
        grid-gap: 1rem;
        align-items: center;
        padding: 0 1rem;
        
    }


}

@media screen and (max-width: 700px) {

    #canvas {
        width: 100%;
    }

    #header-grid {
        display: grid;
        grid-template-columns: auto 25%;
        grid-template-rows: 1fr;
        grid-template-areas: "logo" "nav";
        row-gap: 1rem;
        align-items: center;
        padding: 0;
        
    }
    
    .mobile-nav {
        display: block;
    }

    .desktop-nav {
        display: none;
    }

    #burger-button {
        display: block;
        position: fixed;
        top: 2rem;
        right: 2rem;
        height: 3rem;
        width: 3rem;
    }

    #images-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 1rem;
        padding: 0 1rem;
    }

    
}

@media print {
    
    * {
        color:black;
        background: white;
        text-shadow: none;
        font: 12pt "Times New Roman", Times, serif;
    }

    body {
        width: 100%;
        background: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
    }
    
    section {
        margin-left: 0;
        margin-right: 0;
        border: none;
    }
    
    img {
        float: none;
        width: 100%;
    }
    
    h2 {
        page-break-after: avoid;
        size: 16pt;
    }
    
    p {
        orphans: 3;
        widows: 3;
    }
    
    nav {
        display: none;
    }

    .ui {
        display: none;
    }
    
}

